.DS_Store
Preferences.sublime-settings
Merge.sublime-theme
Commit Message - Merge Dark.sublime-settings
Diff - Merge Dark.sublime-settings
File Mode - Merge Dark.sublime-settings
Meetio-Theme-Dark.sublime-color-scheme
Merge Dark.sublime-theme
Widget - Merge Dark.sublime-settings